<div id="cntID"></div>
<a href="javascript:startCount()" id="btnID">Start Count</a>
<%= javascript_include_tag 'timer' %>
<% if signed_in? %>
  <%= render 'shared/micropost_submit' %>
<% else %>
  <%= render 'shared/signup_home' %>
<% end %>
